<p id="notice"><%= notice %></p>

<p>
  <b>Longitude start:</b>
  <%= @trail.longitude_start %>
</p>

<p>
  <b>Latitude start:</b>
  <%= @trail.latitude_start %>
</p>

<p>
  <b>Longitude end:</b>
  <%= @trail.longitude_end %>
</p>

<p>
  <b>Latitude end:</b>
  <%= @trail.latitude_end %>
</p>

<p>
  <b>Lat map:</b>
  <%= image_tag(@trail.lat_map) %>
</p>

<p>
  <b>Gmap:</b>
  <%= image_tag(@trail.gmap) %>
</p>


<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
